/* navBar.css */

/* Reset de estilos padrão do navegador */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Estilo do cabeçalho */
  header {
    background-color: #ffffff; /* Cor de fundo do cabeçalho */
    color: #B14159; /* Cor do texto no cabeçalho */
    padding: 20px 0; /* Espaçamento interno no cabeçalho */
  }
  
  /* Estilo da barra de navegação */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 75%;
    margin: 0 auto;
  }
  
  /* Estilo do logotipo */
  .logo a {
    color: #B14159; /* Cor do texto do logotipo */
    text-decoration: none; /* Remover sublinhado do link */
    font-size: 25px; /* Tamanho da fonte do logotipo */
    font-weight: bold; /* Peso da fonte do logotipo */
  }
  
  /* Estilo dos links de navegação */
  .nav-links {
    list-style: none; /* Remover marcadores de lista */
    display: flex;
  }
  
  .nav-links li {
    margin-right: 50px; /* Espaçamento entre os itens do menu */
  }
  
  .nav-links a {
    font-size: 17px;
    font-family: initial;
    color: #B14159; /* Cor do texto dos links de navegação */
    text-decoration: none; /* Remover sublinhado dos links de navegação */
  }
  
  /* Estilo do link de contato */
  .hero-get-started {
    background-color: #B14159; /* Cor de fundo do botão de contato */
    padding: 12px 25px; /* Espaçamento interno no botão de contato */
    border-radius: 15px; /* Bordas arredondadas do botão de contato */
    text-decoration: none; /* Remover sublinhado do link de contato */
    color: #ffffff;
  }
  
  /* Estilo do link de contato ao passar o mouse */
  .hero-get-started:hover {
    color: #ffffff;
    background-color: #e2627e; /* Cor de fundo do botão de contato ao passar o mouse */
  }
  
  /* Estilo do texto do link de contato */
  .text-whatsapp {
    color: #fff;
  }  